<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>电影</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css">
</head>
<body>
<table class="layui-hide" id="demo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">添加</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<div id="motaikunag" style="display: none;">
    <div class="content-in">
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" id="account" autocomplete="off"
                       placeholder="请输入您的学号或公牌号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="title" id="name" autocomplete="off" placeholder="请输入您的用户名"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" lay-verify="title" id="pasword" autocomplete="off"
                       placeholder="请输入您的密码" class="layui-input">
            </div>
        </div>
    </div>
    <div class="submit-botton">
        <button class="layui-btn" id="memeber">提交</button>
    </div>
</div>

<script src="../../../static/layui/layui.js"></script>

<script>
    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider', "jquery"], function () {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , carousel = layui.carousel //轮播
            , upload = layui.upload //上传
            , element = layui.element //元素操作
            , slider = layui.slider //滑块
            , $ = layui.jquery
        //向世界问个好
        layer.msg('Hello World');

        //监听Tab切换
        element.on('tab(demo)', function (data) {
            layer.tips('切换了 ' + data.index + '：' + this.innerHTML, this, {
                tips: 1
            });
        });
        //执行一个 table 实例
        table.render({
            elem: '#demo'
            , height: 600
            , url: '/movie/jsonMovies' //数据接口
            , title: '电影表'
            , page: true //开启分页
            , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'name', title: '电影名称', width: 390}
                    , {field: 'score', title: '评分', width: 390}
                    , {fixed: 'right', width: 165, align: 'center', toolbar: '#barDemo'}
                ]
            ]
        });

        //监听头工具栏事件
        /*table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data; //获取选中的数据
            switch(obj.event){
                case 'add':
                    layer.msg('添加');
                    sject();
                    break;
                case 'update':
                    layer.msg('你无权修改');
                    // if(data.length === 0){
                    //     layer.msg('请选择一行');
                    // } else if(data.length > 1){
                    //     layer.msg('只能同时编辑一个');
                    // } else {
                    //     layer.alert('编辑 [id]：'+ checkStatus.data[0].id);
                    // }
                    break;
                case 'delete':
                    if(data.length === 0){
                        layer.msg('请选择一行');
                    } else {
                        let id = "";
                        for (let i = 0 ; i < checkStatus.data.length ; i++){
                            id=id+","+checkStatus.data[i].Id
                        }
                        $.ajax({
                            type: "POST",
                            url: '/back/achievement/deletemenager',
                            data: {
                                Id: id,
                            },
                            success: function (res) {
                                console.log(res)
                                layer.msg(res.msg);
                                window.location.href=""
                            },
                            error: function (data) {
                                console.log(data)
                            }
                        });
                    }
                    break;
            };
        });*/

        //监听行工具事件
        /*table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    $.ajax({
                        type: "POST",
                        url: '/back/achievement/deletemenager',
                        data: {
                            Id: data.Id,
                        },
                        success: function (res) {
                            console.log(res)
                            layer.msg(res.msg);
                        },
                        error: function (data) {
                            console.log(data)
                        }
                    });
                    //向服务端发送删除指令
                });
            } else if(layEvent === 'edit'){
                layui.use(['layer'],function () {
                    var layer = layui.layer,$=layui.$;
                    sject();
                })
            }
        });*/

        /*$("#memeber").click(function () {
            if(!/^[a-zA-Z0-9_-]{4,16}$/.test($("#password").val())){
                layer.msg("密码应为字母或者数字开头，区分大小写，最短4位最长16位");
                return ;
            }else if ($("#account").val() == ""){
                layer.msg("账号不能为空");
                return ;
            }else if ($("#name").val() == ""){
                layer.msg("用户名不能为空");
                return ;
            }
            $.ajax({
                type: "POST",
                url: '/back/achievement/addmenager',
                data: {
                    account: $("#account").val(),
                    password: $("#password").val(),
                    name:$("#name").val()
                },
                success: function (res) {
                    console.log(res)
                    layer.msg(res.msg);
                },
                error: function (data) {
                    console.log(data)
                }
            });
        });*/

        function sject() {
            layer.open({
                type: 1,//类型
                area: ['500px', '350px'],//定义宽和高
                title: '添加管理员',//题目
                shadeClose: false,//点击遮罩层关闭
                content: $('#motaikunag')//打开的内容
            });
        }
    });
</script>

</body>
</html>
