.whitebox {
    background-color: #fff;
    padding: 20px;
    width: 1280px;
}
.whitebox>h5 {
    font-weight: bold;
    border-left: 5px solid #FF5722;
    padding-left: 10px;
    line-height: 20px;
    margin-bottom: 20px;
}
.messagebox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px dashed #e5e5e5;
}
.messagebox:first-child {
    margin-top: 0;
}
.textbox>h5 {
    font-size: 16px;
    margin-bottom: 5px;
}
.textbox>span {
    font-size: 14px;
    line-height: 14px;
    color: #999;
}
.operatebox {
    display: flex;
    align-items: center;
}
.operatebox>span {
    font-size: 12px;
    color: #999;
    margin-right: 20px;
}
.operatebox>span>strong {
    font-size: 16px;
    font-weight: 700;
    color: #f03d37;
}