<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>影院在线</title>
    <link rel="stylesheet" type="text/css" href="../../static/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/adminlogin.css"/>
</head>
<body>

<div class="m-login-bg">
    <div class="m-login">
        <img src="../static/images/cat.png" alt="">
        <div class="m-login-warp">
            <div class="layui-form" method="post">
                <h3>影票购物系统(后台)</h3>

                <div class="layui-form-item">
                    <input type="email" name="email" required lay-verify="required" placeholder="邮箱" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="password" required lay-verify="required|password" placeholder="密码"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item m-login-btn">
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="login">登录</button>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary">
                            <a th:href="@{/user/registerpage}">去注册</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <p class="copyright">&copy;Copyright 影票购物系统 by 刘军辉、徐红、杜佳霖、叶耿</p>
    </div>
</div>
<script src="../static/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use(['form', 'jquery', 'layedit', 'laydate'], function () {
        var form = layui.form,
            $ = layui.jquery,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            password: [/(.+){6,16}$/, '密码必须6到16位'],
        });


        //监听提交
        form.on('submit(login)', function (data) {
            $.ajax({
                type: "POST",
                url: '/admin/login',
                data: {
                    email: data.field.email,
                    password: data.field.password
                },
                success: function (res) {
                    console.log(res);
                    if (res.code == 0) {
                        window.location.href = ("/admin/index");
                    } else {
                        layer.msg("账号或密码错误");
                    }

                    // window.location.href("/user/index");
                    // location.href("user/index.html");
                },
                error: function (data) {
                    console.log(data);
                    //layer.msg("账号或密码错误");
                }
            });
            return false;
        });

    });
</script>
</body>

</html>