<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>影院在线</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/mian.css">
    <link rel="stylesheet" href="../../static/css/cinema.css">
</head>
<body class="lay-blog">
<div th:replace="user/commons :: top(activeUrl='cinema')"></div>
<div class="container-wrap">
    <div class="container">
        <div class="whitebox">
            <h5>影院列表</h5>
            <div class="messagebox" th:each="cinemas:${list}">
                <div class="textbox">
                    <h5>
                        <a th:href="@{/cinema/detailcinema(cinemaId=${cinemas.cinemaId})}">[[${cinemas.name}]]</a>
                    </h5>
                    <span>[[${cinemas.address}]]</span>
                </div>
                <div class="operatebox">
                    <span><strong>[[${cinemas.score}]]</strong>分</span>
                    <button class="layui-btn layui-btn-danger layui-btn-radius">点击购买</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div th:replace="user/commons :: footer"></div>
<script src="../../static/layui/layui.js"></script>
<!--登录跳转-->
<div th:replace="user/commons :: login_js"></div>
</body>
</html>