<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>影院在线</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/mian.css">
    <link rel="stylesheet" href="../../static/css/film.css">
</head>
<body class="lay-blog">
<div th:replace="user/commons :: top(activeUrl='film')"></div>
<div class="container-wrap">
    <div class="container">
        <div class="whitebox">
            <div class="filmbox" th:each="movies:${list}">
                <div class="filmblock">
                    <a th:href="@{/movie/detailfilm(movieId=${movies.movieId})}">
                        <img th:src="${movies.getPhoto()}" alt="">
                    </a>
                    <div>
                        <span>[[${movies.name}]]</span>
                        <strong>[[${movies.score}]]</strong>
                    </div>
                </div>
                <div class="buyfilm" th:onclick="jumpfilm([[${movies.movieId}]])">购票</div>
            </div>

        </div>
    </div>
</div>
<div th:replace="user/commons :: footer"></div>
<script src="../../static/layui/layui.js"></script>
<!--登录跳转-->
<div th:replace="user/commons :: login_js"></div>
</body>
<script>
    function jumpfilm(id) {
        window.location.href = "/movie/detailfilm?movieId=" + id;
    }
</script>
</html>