<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>榜单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/mian.css">
</head>
<body class="lay-blog">
<div th:replace="user/commons :: top(activeUrl='list')"></div>
影院页面~~~~~~，还没写，军辉是个大笨蛋~~~~
<div th:replace="user/commons :: footer"></div>
<script src="../../static/layui/layui.js"></script>
</body>
</html>