<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>影院在线</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/mian.css">
    <link rel="stylesheet" href="../../static/css/list.css">
</head>
<body class="lay-blog">
<div th:replace="user/commons :: top(activeUrl='list')"></div>
<div class="container-wrap">
    <div class="container">
        <div>
            <h4 class="item-title listheader">
                <p><i class="layui-icon layui-icon-speaker"></i>更新：<span>2018-12-19日已更新</span></p>
            </h4>
            <h4 class="item-title">

                <p>榜单规则：<span>将昨日国内热映的电影，按照评分从高到低排列取前5名，数据来源于“猫眼电影库”</span></p>
            </h4>
            <div class="whitebox">
                <div class="listmessagebox" th:each="movies:${list}">
                    <div class="listmessage firstlist">
                        <span th:if="${moviesStat.count == 1}"><i class="layui-icon layui-icon-fire"></i></span>
                        <span th:if="${moviesStat.count != 1}"
                              th:text="${moviesStat.count != 1} ? ${moviesStat.count} : '' "
                        ></span>
                        <a th:href="@{/movie/detailfilm(movieId=${movies.movieId})}">
                            <img th:src="${movies.getPhoto()}"
                                 width="160" alt="">
                        </a>
                        <div class="textbox">
                            <a th:href="@{/movie/detailfilm(movieId=${movies.movieId})}">
                                <h5>[[${movies.getName()}]]</h5>
                            </a>
                            <p>主演:[[${movies.getStarring()}]]</p>
                            <strong>上映时间：[[${#dates.format(movies.getDate(),'yyyy-MM-dd')}]]</strong>
                        </div>
                    </div>
                    <span><strong>[[${#strings.substring(movies.getScore(),0,1)}]].</strong>[[${#strings.substring(movies.getScore(),2,3)}]]</span>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="user/commons :: footer"></div>
<script src="../../static/layui/layui.js"></script>
<!--登录跳转-->
<div th:replace="user/commons :: login_js"></div>

</body>
</html>