.singlefilmbox {
    margin-left: 20px;
}

.singlefilmbox > strong {
    font-size: 20px;
}

.singlefilmbox > span {
    display: inline-block;
    overflow: hidden;
    width: 1000px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.messagebox > img {
    width: 183px;
    height: 252px;
}

.messagetips {
    display: none;
    padding: 40px;
    font-size: 16px;
}

.messagetips > span {
    color: #999;
    font-size: 14px;
}

.newwhitebox {
    width: 100%;
    font-size: 16px;

}

.newwhitebox > h5 {
    font-weight: bold;
    border-left: 5px solid #FF5722;
    padding-left: 10px;
    line-height: 20px;
    margin-bottom: 20px;
}

.textbox>h5 {
    font-size: 16px !important;
}
.empty{
    margin-top: 50px !important;
}