<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册界面</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
</head>
<body>
<form th:action="@{/user/registerpage}" method="post">
    <table>
        <tr>
            <td>邮箱:</td>
            <td><input type="email" name="email" id="email"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button id="code" type="button">免费获取邮箱动态码</button>
            </td>
        </tr>
        <tr>
            <td>动态码:</td>
            <td><input type="text" name="code"></td>
        </tr>

        <tr>
            <td colspan="2">
                <button type="submit">提交</button>
            </td>
        </tr>
    </table>
    <p th:text="${code != null ? code :'无'}"></p>
</form>
<script>
    //var email = document.getElementById("#email").value;
    /*    $("#code").click(function () {
            console.log("code:" + email);
            return;
        })*/

    $(document).on("click", "#code", function () {
        var email = $("#email").val();
        $.ajax({
            type: "post",
            url: "/user/email?email=" + email,
            dataType: "json",
            success: function (data) {
                console.log(data);
                //$("email").val(data.email);
            }
        })
    })


</script>
</body>
</html>