<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
</head>
<body>
<form th:action="@{/user/login}" method="post">
    <table>
        <tr>
            <td>邮箱:</td>
            <td><input type="email" name="email"></td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>
                <button type="submit">登录</button>
            </td>
            <td>
                <a th:href="@{/user/emailpage}">注册</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p th:text="${not #strings.isEmpty(user) ? '注册成功':''} "></p>
            </td>
        </tr>
    </table>
</form>
</body>
</html>