<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>影院在线</title>
    <link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
</head>

<body>
<div class="m-login-bg">
    <div class="m-login">
        <img src="../static/images/dog.png" alt="">
        <div class="m-login-warp">
            <div class="layui-form">
                <h3>影票购物系统注册</h3>
                <div class="layui-form-item">
                    <input type="email" name="email" required lay-verify="required" placeholder="邮箱" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="text" name="name" required lay-verify="required|name" placeholder="名称"
                           autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="password" required lay-verify="required|password" placeholder="密码"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item m-login-btn">
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-danger" lay-submit lay-filter="register">注册</button>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-primary">
                            <a th:href="@{/}"> 去登录</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <p class="copyright">&copy;Copyright 影票购物系统 by 刘军辉、徐红、杜佳霖、叶耿</p>
    </div>
</div>
<script src="../static/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use(['form', 'jquery', 'layedit', 'laydate'], function () {
        var form = layui.form,
            $ = layui.jquery,
            layer = layui.layer;


        //自定义验证规则
        form.verify({
            name: [/(.+){2,10}$/, '密码必须2到10位'],
            password: [/(.+){6,16}$/, '密码必须6到16位'],
        });

        //监听提交
        form.on('submit(register)', function (data) {
            $.ajax({
                type: "POST",
                url: '/user/register',
                data: {
                    email: data.field.email,
                    userName: data.field.name,
                    password: data.field.password
                },
                success: function (res) {
                    console.log(res);
                    if (res.code==0) {
                        layer.msg(res.msg);
                        window.location.href = ("/");
                    }else {
                        layer.msg(res.msg);
                    }
                    //window.location.href = "/user/login";
                },
                error: function (data) {
                    console.log(data);
                }
            });
            return false;
        });

    });
</script>
</body>

</html>