<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>影院在线</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/mian.css">
    <link rel="stylesheet" href="../../static/css/cinema.css">
    <link rel="stylesheet" href="../../static/css/detailcinema.css">
    <link rel="stylesheet" href="../../static/css/film.css">
</head>
<body class="lay-blog">
<!--header-->
<div th:replace="user/commons :: top(activeUrl='cinema')"></div>

<!--主题部分-->
<div class="cinamedetailheader">
    <div class="messagebox">
        <div class="textbox">
            <h5>[[${cinema.name}]]</h5>
            <span>地址：[[${cinema.address}]]</span>

        </div>
        <div class="operatebox">
            <div>
                <div id="score" th:key="${cinema.score}"></div>
            </div>
            <span><strong>[[${cinema.score}]]</strong></span>
        </div>
    </div>
</div>


<div class="cinamedetailheader">
    <div class="layui-carousel" id="test10">
        <div carousel-item="">
            <div>
                <div class="whitebox2">
                    <div class="filmbox" th:each="movies:${movies}" th:key="${movies.movieId}"
                         th:if="${moviesStat.count < 8}">
                        <div class="filmblock">
                            <img th:src="${movies.photo}" width="160" height="222">
                            <div>
                                <span>[[${movies.name}]]</span>
                                <strong>[[${movies.score}]]</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div>
                <div th:if="${movies.size() > 7}" id="filmdetailid">
                    <div class="whitebox2">
                        <div class="filmbox">
                            <div class="filmblock" th:each="movies:${movies}" th:key="${movies.movieId}"
                                 th:if="${moviesStat.count > 7} and ${moviesStat.count < 15}">
                                <div class="filmblock">
                                    <img th:src="${movies.photo}" width="160" height="222">
                                    <div>
                                        <span>[[${movies.name}]]</span>
                                        <strong>[[${movies.score}]]</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container-wrap">
    <div class="container">
        <div class="contar-wrap">
            <!--正在热映-->
            <h4 class="item-title filmheader">
                <p><i class="layui-icon layui-icon-speaker"></i><span>影院提前5分钟停止购票</span></p>
            </h4>
            <div class="item" id="addfilm">
                <!--<div class="singlefilm" >-->
                    <!--<div class="singlefilmmessage">-->
                        <!--<p>21:50</p><span>海王</span><span>长垣奥斯卡大视界国际影城</span><strong>￥45</strong>-->
                    <!--</div>-->
                    <!--<button class="layui-btn layui-btn-primary" onclick="addlist()">购买</button>-->
                <!--</div>-->
                <!--<div class="singlefilm">-->
                    <!--<div class="singlefilmmessage">-->
                        <!--<p>21:50</p><span>海王</span><span>长垣奥斯卡大视界国际影城</span><strong>￥45</strong>-->
                    <!--</div>-->
                    <!--<button class="layui-btn layui-btn-primary">购买</button>-->
                <!--</div>-->

            </div>

        </div>
        <div class="contar-wrap2">
            <!--当前票房-->
            <h4 class="item-title filmheader">
                <p><span>今日票房</span></p>
                <a th:href="@{/user/tolist}">今日榜单<i class="layui-icon layui-icon-right"></i></a>
            </h4>

            <div class="item">

            </div>
        </div>
    </div>
</div>


<!--footer-->
<div th:replace="user/commons :: footer"></div>
<script src="../../static/layui/layui.js"></script>
<!--登录跳转-->
<div th:replace="user/commons :: login_js"></div>
<script>
    function addlist(cinemaId,hallId,seatId) {
        console.log(cinemaId, hallId, seatId);
        ajax({
            type:"POST",
            url:"/xxxxxxx",
            dataType:"json",
            data:{
                "cinemaId":cinemaId,
                "hallId":hallId,
                "seatId":seatId
            },
            success:function(msg){
                console.log(msg)
            },
            error:function(){
                console.log("error")
            }
        })

    }

    function ajax(){
        var ajaxData = {
            type:arguments[0].type || "GET",
            url:arguments[0].url || "",
            async:arguments[0].async || "true",
            data:arguments[0].data || null,
            dataType:arguments[0].dataType || "text",
            contentType:arguments[0].contentType || "application/x-www-form-urlencoded",
            beforeSend:arguments[0].beforeSend || function(){},
            success:arguments[0].success || function(){},
            error:arguments[0].error || function(){}
        }
        ajaxData.beforeSend()
        var xhr = createxmlHttpRequest();
        xhr.responseType=ajaxData.dataType;
        xhr.open(ajaxData.type,ajaxData.url,ajaxData.async);
        xhr.setRequestHeader("Content-Type",ajaxData.contentType);
        xhr.send(convertData(ajaxData.data));
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4) {
                if(xhr.status == 200){
                    ajaxData.success(xhr.response)
                }else{
                    ajaxData.error()
                }
            }
        }
    }

    function createxmlHttpRequest() {
        if (window.ActiveXObject) {
            return new ActiveXObject("Microsoft.XMLHTTP");
        } else if (window.XMLHttpRequest) {
            return new XMLHttpRequest();
        }
    }

    function convertData(data){
        if( typeof data === 'object' ){
            var convertResult = "" ;
            for(var c in data){
                convertResult+= c + "=" + data[c] + "&";
            }
            convertResult=convertResult.substring(0,convertResult.length-1)
            return convertResult;
        }else{
            return data;
        }
    }

    layui.use(['carousel', 'rate', 'jquery'], function () {
        var rate = layui.rate;
        var carousel = layui.carousel
            , $ = layui.jquery;

        rate.render({
            elem: '#score'
            , length: 5
            , value: ($("#score").attr("key") / 2) //初始值
            , readonly: true
            , half: true //开启半星
        });
        //console.log($("#score").attr("key") / 2);



        $(".filmbox").click(function () {
            // body...
            console.log(123);
            var self = $(this);
            $(".filmbox").removeClass("active");
            /* self.addClass("active");*/
            var bool = self.attr("class").indexOf("active");  //判断当前元素的class名是否包含active的class
            if (bool != -1) {  // -1表示没有找到匹配的“active”名字的class
                self.removeClass("active");
            } else {
                self.addClass("active");
                /*console.log(self.attr("key"));*/
                /*请求得到正在放映某一个电影的影院*/
                $.ajax({
                    type: "get",
                    url: '/getmoviehall',
                    data: {
                        movieId: self.attr("key"),
                        cinemaId: [[${cinema.cinemaId}]],
                    },
                    success: function (res) {
                        console.log(res.data);
                        if (res.code == 0) {
                            console.log("成功啦~~~棒棒哒~~");
                            var html = "";
                            var list = res.data;
                            for(var i=0;i<list.length;i++){    //遍历data数组
                                var ls = list[i];
                                html +="<div class='singlefilm'><div class='singlefilmmessage'><p>"+ls.session+
                                "</p><span>"+ls.cinemaId+"</span><span>"+ls.status+"</span><strong>"+ls.note+"</strong></div>"+
                                "<button class='layui-btn layui-btn-primary' onclick=addlist("+
                                ls.cinemaId+","+ls.hallId+","+ls.seatId+")>购买</button></div>";
                            }
                            $("#addfilm").html(html); //在html页面id=ulul的标签里显示html内容
                        } else {
                            layer.msg("暂无影院播放");
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }
        });



        //图片轮播
        carousel.render({
            elem: '#test10'
            , width: '100%'
            , height: '270px'
            , interval: 10000
        });
    });
</script>
</body>
</html>