<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>影院在线</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/mian.css">
    <link rel="stylesheet" href="../../static/css/cinema.css">
    <link rel="stylesheet" href="../../static/css/detailcinema.css">
    <link rel="stylesheet" href="../../static/css/detailfilm.css">
    <link rel="stylesheet" href="../../static/css/film.css">
</head>
<body class="lay-blog">
    <!--header-->
    <div th:replace="user/commons :: top(activeUrl='index')"></div>

    <!--主题部分-->
    <div class="cinamedetailheader">
        <div class="messagebox">
            <img src="../../static/images/film.jpg" alt="">
            <div class="singlefilmbox">
                <p>蜘蛛侠：平行宇宙</p>
                <div class="operatebox">
                    <div><div id="score"></div></div>
                    <span><strong>8.4</strong></span>
                </div>
                <span>平行宇宙 蜘蛛六侠</span>
                <span><span>导演：</span>鲍勃·佩尔西凯蒂,彼得·拉姆齐,罗德尼·罗斯曼。
                    <span>主演：</span>彭昱畅,沙梅克·摩尔,杰克·M·约翰森,张天爱,海莉·斯坦菲尔德,尼古</span>
                <span>美国 | 116分钟     2018-12-21 上映</span>
                <span><span>剧情：</span>蜘蛛侠不止一个！漫威首部超英动画巨制《蜘蛛侠：平行宇宙》
                    将经典漫画与CGI技术完美呈现，讲述了普通高中生迈尔斯·莫拉斯如何
                将经典漫画与CGI技术完美呈现，讲述了普通高中生迈尔斯·莫拉斯如何</span>
                <i class="layui-icon layui-icon-down" id="message"></i><br/>
                <button class="layui-btn layui-btn-primary">想看</button>
            </div>
        </div>
    </div>

    <div id="tong" class="messagetips">
        <span>剧情：</span>蜘蛛侠不止一个！漫威首部超英动画巨制《蜘蛛侠：平行宇宙》将经典漫画与CGI技术完美呈现，
        讲述了普通高中生迈尔斯·莫拉斯如何师从蜘蛛侠彼得·帕克，成长为新一代超级英雄的故事。
        影片中迈尔斯和从其它平行宇宙中穿越而来的彼得、 女蜘蛛侠格温、暗影蜘蛛侠、潘妮·帕克和蜘蛛侠集结成团，
        六位蜘蛛侠首次同框大银幕，对抗蜘蛛侠宇宙最强反派。
    </div>


    <!--footer-->
    <div th:replace="user/commons :: footer"></div>
    <script src="../../static/layui/layui.js"></script>
    <!--登录跳转-->
    <div th:replace="user/commons :: login_js"></div>
</body>
<script>
    layui.use(['carousel','rate','layer','jquery'], function(){
        var rate = layui.rate;
        var carousel = layui.carousel
            ,$ = layui.jquery
            ,layer = layui.layer;

        $(document).on('click','#message',function(){
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                shadeClose: true,
                skin: 'yourclass',
                content: $('#tong')
            });
        });

        rate.render({
            elem: '#score'
            ,length: 5
            ,value: 4.1 //初始值
            ,readonly: true
        });

    });
</script>
</html>